<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echo.mall.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.echo.mall.user.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="status" property="status" />
        <result column="sex" property="sex" />
        <result column="head_portrait" property="headPortrait" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <resultMap id="UserVOMap" type="com.echo.mall.module.user.vo.UserVO">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="status" property="status" />
        <result column="sex" property="sex" />
        <result column="head_portrait" property="headPortrait" />
    </resultMap>

    <select id="listUser" resultMap="UserVOMap">
        SELECT
            id,
            username,
            `password`,
            phone,
            `status`,
            sex,
            head_portrait
        FROM
            `user`
        <where>
            <if test="user.username != null and user.username != ''">
                username = #{user.username}
            </if>
            AND deleted = 0
        </where>

    </select>

</mapper>
