<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echo.mall.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.echo.mall.user.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="nickname" property="nickname" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="status" property="status" />
        <result column="sex" property="sex" />
        <result column="signature" property="signature" />
        <result column="head_portrait" property="headPortrait" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <resultMap id="UserVOMap" type="com.echo.mall.module.user.vo.UserVO">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="status" property="status" />
        <result column="sex" property="sex" />
        <result column="head_portrait" property="headPortrait" />
    </resultMap>

    <update id="updateUser" parameterType="com.echo.mall.module.user.dto.UserEditDTO">
        UPDATE user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="signature != null">
                signature = #{signature},
            </if>
            <if test="sex != null">
                sex = #{sex}
            </if>
        </set>
        WHERE
        id = #{id} LIMIT 1
    </update>

    <select id="listUser" resultMap="UserVOMap">
        SELECT
            id,
            username,
            `password`,
            phone,
            `status`,
            sex,
            head_portrait
        FROM
            `user`
        <where>
            <if test="user.username != null and user.username != ''">
                username = #{user.username}
            </if>
            AND deleted = 0
        </where>

    </select>

</mapper>
