<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echo.mall.order.mapper.OrderInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.echo.mall.order.entity.OrderInfo">
        <id column="order_id" property="orderId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="shop_id" property="shopId" />
        <result column="category_id" property="categoryId" />
        <result column="user_id" property="userId" />
        <result column="spu_id" property="spuId" />
        <result column="sku_id" property="skuId" />
        <result column="shop_name" property="shopName" />
        <result column="delivery_type" property="deliveryType" />
        <result column="all_count" property="allCount" />
        <result column="price" property="price" />
        <result column="total" property="total" />
        <result column="status" property="status" />
        <result column="pay_time" property="payTime" />
        <result column="delivery_time" property="deliveryTime" />
        <result column="finally_time" property="finallyTime" />
        <result column="settled_time" property="settledTime" />
        <result column="cancel_time" property="cancelTime" />
        <result column="is_payed" property="isPayed" />
        <result column="close_type" property="closeType" />
        <result column="deleted" property="deleted" />
        <result column="version" property="version" />
        <result column="order_addr_id" property="orderAddrId" />
    </resultMap>

</mapper>
